* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.container {
  background-color: #22181c;
  /*#3066be;*/
  padding: 35px;
  width: 500px;
  height: 600px;
  margin-top: 15px;
  flex-direction: column;
}
h1,
h5 {
  font-family: "Bebas Neue", cursive;
  line-height: 1;
  font-size: 4.5rem;
  font-weight: 250;
}
h5 {
  font-size: 2rem;
  color: #ffff;
}
h3 {
  font-family: "Bebas Neue", cursive;
  line-height: 1;
  font-size: 3rem;
  font-weight: 150;
  width: 250px;
  text-align: center;
}

/*player section*/
.music-player {
  margin: 0;
  height: 560px;
  padding: 15px;
  background-color: #edddd4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover-img {
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
  padding-top: 10px;
}

.description {
  background-color: rgba(196, 69, 54, 0.8);
  color: #ffff;
  width: 460px;
  height: 70px;
  padding: 20px;
  padding-top: 5px;
}

.title {
  width: max-content;
  font-size: 2.2rem;
  color: #22181c;
  margin: 0;
}
.album {
  font-family: Arial, Helvetica, sans-serif;
  background-color: slategrey;
  max-width: 250px;
  font-size: 1.5rem;
}

/*buttons configurations*/
.control-btn {
  width: 400px;
  height: 0px;
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
}

.backward-btn,
.playpause-btn,
.forward-btn {
  height: 50px;
  width: 50px;
  background-color: black;
  color: #ffff;
  margin-right: 2.5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backward-btn:hover,
.playpause-btn:hover,
.forward-btn:hover {
  transform: scale(1.07);
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.8rem;
  }
  .container {
    height: 450px;
    width: 350px;
  }
  .music-player {
    height: 400px;
  }

  .cover-img {
    height: 250px;
    width: 250px;
  }

  .description {
    width: 325px;
    height: 50px;
    padding-left: 5px;
  }
  .title {
    font-size: 180%;
  }
  .album {
    width: 175px;
    font-size: 120%;
  }
  .backward-btn,
  .playpause-btn,
  .forward-btn {
    height: 40px;
    width: 40px;
    font-size: 70%;
  }

  .forward-btn {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 3.5rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  .container {
    margin-top: 40px;
    padding: 30px;
    height: 400px;
    width: 280px;
  }
  .music-player {
    height: 360px;
  }

  .cover-img {
    height: 220px;
    width: 220px;
  }

  .description {
    width: 258px;
    height: 35px;
  }
  .title {
    font-size: 140%;
  }
  .album {
    font-size: 0.8rem;
  }

  .backward-btn,
  .playpause-btn,
  .forward-btn {
    height: 30px;
    width: 30px;
    font-size: 60%;
  }
  .forward-btn {
    margin-right: 4rem;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  .container {
    padding: 20px;
    margin-top: 50px;
    width: 220px;
    height: 300px;
  }
  .music-player {
    height: 280px;
    padding-top: 2px;
  }

  .cover-img {
    height: 180px;
    padding-top: 0;
  }

  .description {
    height: 30px;
    width: 195px;
  }
  .album {
    width: 120px;
  }

  .backward-btn,
  .playpause-btn,
  .forward-btn {
    height: 25px;
    width: 22px;
    font-size: 45%;
  }
  .forward-btn {
    margin-right: 6rem;
  }
}
